# Avoid including Experiment files: they can be created and edited locally to test the ipf files
*.pxp
*.pxt
*.uxp
*.uxt
*.expo
*node_modules
*package-lock.json
.idea/modules.xml
.idea/vcs.xml
.idea/vuenativeexample.iml
.idea